.header{
	height: 100px;
	background-color:red ;
	border: 5px solid firebrick;
}
.container{
	overflow: hidden;
}
.item{
	float: left;
	height: 150px;
	width: 20%;
}
.aqua{
	background-color: aqua;
}
.lightblue{
	background-color: lightblue;
}
.brown{
	background-color: brown;
}
.tomato{
	background-color: tomato;
}
.purple{
	background-color: purple;
}
.container2{
	overflow: hidden;
}
.item2{
	float: left;
	height: 150px;
	width: 20%;
}
.red{
	background-color: red;
}
.blue{
	background-color: blue;
}
.lightcyan{
	background-color: lightcyan;
}
.cyan{
	background-color: cyan;
}
.aquamerine{
	background-color: aquamarine;
}
.container3{
order: 5px solid black;
overflow: hidden;
}
.item3{
	float: left;
	height: 150px;
	width: 20%;
}


.footer{
	border: 5px solid coral;
	height: 100px;
	background-color: black;
}